.profile_container{
  background-color: #fff;
  /* border: 1px solid black; */
  border-radius: 8px;
  width: 100%;
  display: inline-block;
}
.profile_header{
  line-height: 18px;
  padding: 15px;
}
.profile_header .name{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.profile_header .title{
  font-size: 15px;
  color: #777;
}
.profile_image{
  margin-top: -10px;
  -webkit-clip-path:polygon(0 9%, 100% 0%, 100% 94%, 0 100%);
  clip-path: polygon(0 9%, 100% 0%, 100% 94%, 0 100%);

}
.profile_image img{
width: 100%;
}